{% extends "base.html" %}

{% block title %}Libros{% endblock %}

{% block content %}
<section class="post">
    <header class="major">
        <h1>Buscar Libros</h1>
        <p>Ingresa el titulo de un libro para encontrar coincidencias en nuestro catálogo.</p>
    </header>
    <form action="{{ url_for('libros') }}" method="post">
        <div class="fields">
            <div class="field">
                <label for="titulo">Título</label>
                <input type="text" name="titulo" id="titulo" value="{{ consulta }}" placeholder="Ej: Cien años de soledad">
            </div>
        </div>
        <ul class="actions">
            <li><input type="submit" value="Buscar"></li>
        </ul>
    </form>
    {% if busqueda %}
    {% if libros %}
    <h2>Resultados de la Búsqueda</h2>
    <table class="alt">
        <thead>
            <tr>
                <th>Título</th>
                <th>Autor</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for libro in libros %}
            <tr>
                <td>{{ libro.titulo }}</td>
                <td>{{ libro.autor }}</td>
                <td><a href="{{ url_for('libro', id=libro.id) }}" class="button">Detalle</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No se encontraron libros.</p>
    {% endif %}
    {% endif %}
</section>
{% endblock %}