{% extends "base.html" %}

{% block title %}Lista de Libros{% endblock %}

{% block content %}
<section class="post">
    <header class="major">
        <h1>Resultados de la Búsqueda</h1>
        <p>Libros encontrados según el criterio de búsqueda.</p>
    </header>
    {% if libros %}
    <table class="alt">
        <thead>
            <tr>
                <th>Título</th>
                <th>Autor</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for libro in libros %}
            <tr>
                <td>{{ libro.titulo }}</td>
                <td>{{ libro.autor }}</td>
                <td><a href="{{ url_for('libro', id=libro.id) }}" class="button">Detalle</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No se encontraron libros.</p>
    {% endif %}
    <ul class="actions">
        <li><a href="{{ url_for('libros') }}" class="button">Volver a Buscar</a></li>
    </ul>
</section>
{% endblock %}